
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial;
    font-size: 17px;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
	filter:grayscale(90%);
	filter:brightness(50%);
}

.content {
    position: sticky;
    position: -webkit-sticky;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
	text-align: center;
    padding: 15px;
	font: 15px Lucida Console, sans-serif;
	text-decoration: none;
	color: #f35626;
    background-image: -webkit-linear-gradient(92deg,#f35626,#feab3a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 10s infinite linear;
}

@-webkit-keyframes hue {
    from {
      -webkit-filter: hue-rotate(0deg);
    }
    
    to {
      -webkit-filter: hue-rotate(360deg);
    }
}
	
}

.content2 {
    position: sticky;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;	
	
	
}